/* Website Styles */
* {
  font-size: 100%;
  margin: 0;
  line-height: 1;
  /* boarder: 1px solid red; */
}
body  {
  background-color: yellow;
  color: DarkSlateBlue;
  font-family: Helvetica;
  font-size: 14px;
  margin: 50;
}
h1 {
  font-size: 36px;
  color: red;
  font-weight: normal;
  font-style: italic;
  border: 5px solid green;
  margin-left: 100px;
  margin-right: 100px;
}
h2 {
  font-size: 24px;
  color: purple;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 20px;
}
h2 {
  font-size: 18px;
  color: blue;
  font-weight: normal;
  font-style: italic;
  footer {
    padding: 30px;
  }
}
h3 {
  font-size: 15px;
  color: white;
  font-weight: 900;
  font-style: italic;
}
