/* Website Styles */
* {
  font-size: 100%;
}
body  {
  background-color: yellow;
  color: DarkSlateBlue;
  font-family: Helvetica;
  font-size: 14px;
}
h1 {
  font-size: 36px;
  color: red;
  font-weight: normal;
  font-style: italic;
}
h2 {
  font-size: 24px;
  color: purple;
  font-weight: 900;
  font-style: italic;
}
h2 {
  font-size: 18px;
  color: blue;
  font-weight: normal;
  font-style: italic;
}
h3 {
  font-size: 15px;
  color: white;
  font-weight: 900;
  font-style: italic;
}
